IPSmallJava/src/main/resources/TR-03124-2_ICS_v1.3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://www.secunet.com" targetNamespace="http://www.secunet.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="TR-03124-2_ICS">
    	<xs:complexType>
      		<xs:sequence>	        
	        	<xs:element name="SoftwareVersion" minOccurs="1" maxOccurs="1" >
	          		<xs:complexType>
	            		<xs:sequence>
	              			<xs:element name="Name" type="xs:string" minOccurs="1" maxOccurs="1" />
	              			<xs:element name="VersionMajor" type="xs:string" minOccurs="1" maxOccurs="1" />
	              			<xs:element name="VersionMinor" type="xs:string" minOccurs="1" maxOccurs="1" />
	              			<xs:element name="VersionSubminor" type="xs:string" minOccurs="1" maxOccurs="1" />
	            		</xs:sequence>
	          		</xs:complexType>
	        	</xs:element>
        
		        <xs:element name="Profiles" minOccurs="1" maxOccurs="1">
			    	<xs:complexType>
				    	<xs:sequence>
					    	<xs:element name="CRYPTO" type="ProfileType" minOccurs="1" maxOccurs="1" />
					        <xs:element name="EAC" type="ProfileType" minOccurs="1" maxOccurs="1" />
					        <xs:element name="OA" type="ProfileType" minOccurs="1" maxOccurs="1" />
					        <xs:element name="PAOS" type="ProfileType" minOccurs="1" maxOccurs="1" />
					        <xs:element name="CCH" type="CCHProfileType" minOccurs="1" maxOccurs="1" />
					        <xs:element name="PREVERIFICATION" type="PreverificationProfileType" minOccurs="1" maxOccurs="1" />
					        <xs:element name="NO_PREVERIFICATION" type="ProfileType" minOccurs="1" maxOccurs="1" />
					        <xs:element name="HTTP_MESSAGES" type="ProfileType" minOccurs="1" maxOccurs="1" />
					        <xs:element name="PROXY_CONFIG" type="ProfileType" minOccurs="1" maxOccurs="1" />
					        <xs:element name="PRESELECT_RIGHTS" type="ProfileType" minOccurs="1" maxOccurs="1" />
					        <xs:element name="DISABLE_RIGHTS" type="ProfileType" minOccurs="1" maxOccurs="1" />
					        <xs:element name="ACTION_STATUS" type="ProfileType" minOccurs="1" maxOccurs="1" />
					        <xs:element name="ACTION_SHOWUI" type="ProfileType" minOccurs="1" maxOccurs="1" />
					        <xs:element name="ACTION_SHOWUI_SETTINGS" type="ProfileType" minOccurs="1" maxOccurs="1" />

<!-- added -->
					        <xs:element name="CLIENT_INTERFACE" type="ProfileType" minOccurs="1" maxOccurs="1" />
					        <xs:element name="PIN_MANAGEMENT" type="ProfileType" minOccurs="1" maxOccurs="1" />
					        <xs:element name="USER_INTERFACE" type="ProfileType" minOccurs="1" maxOccurs="1" />
					        <xs:element name="REFRESH_REDIRECT" type="ProfileType" minOccurs="1" maxOccurs="1" />
					        <xs:element name="ECAPI_INITFW" type="ProfileType" minOccurs="1" maxOccurs="1" />
					        <xs:element name="SESSION_RESUMPTION" type="ProfileType" minOccurs="1" maxOccurs="1" />
					        <xs:element name="NO_SESSION_RESUMPTION" type="ProfileType" minOccurs="1" maxOccurs="1" />

<!-- removed -->
<!-- 					        <xs:element name="UI_OFFLINE" type="ProfileType" minOccurs="1" maxOccurs="1" /> -->
<!-- 					        <xs:element name="UI_ONLINE" type="ProfileType" minOccurs="1" maxOccurs="1" /> -->
				    	</xs:sequence>
			    	</xs:complexType>
		        </xs:element>
        
		        <xs:element name="SupportedCryptography" minOccurs="1" maxOccurs="1">
		        	<xs:complexType>
			            <xs:sequence>
			            	<xs:element name="TLSchannel_1-2" type="TLSchannelType" minOccurs="1" maxOccurs="1" />
			            	<xs:element name="TLSchannel_2" type="TLSchannelType" minOccurs="1" maxOccurs="1" />
			              	<xs:element name="TR-03110" type="TR03110Type" minOccurs="1" maxOccurs="1" />
			            </xs:sequence>
		        	</xs:complexType>
		        </xs:element>
        
		        <xs:element name="CardReaderInterfaces" minOccurs="1" maxOccurs="1">
			          <xs:complexType>
				            <xs:sequence>
					        	<xs:element name="PCSC" type="CardReaderInterfaceType" minOccurs="1" maxOccurs="1" />
					            <xs:element name="CCID" type="CardReaderInterfaceType" minOccurs="1" maxOccurs="1" />
					            <xs:element name="Embedded" type="CardReaderInterfaceType" minOccurs="1" maxOccurs="1" />
				            </xs:sequence>
			          </xs:complexType>
		        </xs:element>
		        
		        <xs:element name="ClientTrustStore" minOccurs="1" maxOccurs="1">
			          <xs:complexType>
				            <xs:sequence>
					        	<xs:element name="Certificate" type="ClientTrustStoreCertificateType" minOccurs="0" maxOccurs="7" />
				            </xs:sequence>
			          </xs:complexType>
		        </xs:element>
		        
       		</xs:sequence>
       		<xs:attribute name="version" use="required">
		    	<xs:simpleType>
		    		<xs:restriction base="xs:string">
			    		<xs:enumeration value="1.2" />
			    		<xs:enumeration value="1.3" />
		    		</xs:restriction>
		    	</xs:simpleType>
			</xs:attribute>
    	</xs:complexType>
  	</xs:element>

  	<xs:complexType name="ProfileType">
  		<xs:attribute name="enabled" type="xs:boolean" use="required" />
  	</xs:complexType>
  
	<xs:complexType name="PreverificationProfileType">
		<xs:complexContent>
	  		<xs:extension base="ProfileType">
	  			<xs:attribute name="includedTrustpoint" type="xs:boolean" use="required" />
	  		</xs:extension>
	  	</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="CCHProfileType">
		<xs:complexContent>
	  		<xs:extension base="ProfileType">
	  			<xs:attribute name="trIndex_b" type="xs:unsignedInt" use="required" />
	  		</xs:extension>
	  	</xs:complexContent>
	</xs:complexType>

    <xs:complexType name="TLSchannelType">
    	<xs:sequence>
        	<xs:element name="TLS-Version" minOccurs="1" maxOccurs="unbounded">
            	<xs:complexType>
            		<xs:sequence>
            			<xs:element name="CipherSuite" type="TLSCipherSuiteType" minOccurs="1" maxOccurs="unbounded" />
            			<xs:element name="SupportedCurve" type="TLSSupportedCurveType" minOccurs="0" maxOccurs="unbounded" />
            			<xs:element name="MinRSAKeyLength" type="TLSKeyLengthType" minOccurs="0" maxOccurs="1" />
            			<xs:element name="MinDSAKeyLength" type="TLSKeyLengthType" minOccurs="0" maxOccurs="1" />
            			<xs:element name="MinDHEKeyLength" type="TLSKeyLengthType" minOccurs="0" maxOccurs="1" />
            			<xs:element name="SupportedSignatureAlgorithm" type="TLSSupportedSignatureAlgorithmType" minOccurs="0" maxOccurs="unbounded" />
            		</xs:sequence>
                	<xs:attribute name="version" type="TLSVersionType" use="required" />
                    <xs:attribute name="enabled" type="xs:boolean" use="required" />
                </xs:complexType>
          	</xs:element>
    	</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="TR03110Type">
    	<xs:sequence>
        	<xs:element name="PACE" minOccurs="1" maxOccurs="8">
           		<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="PACE-DH-GM-3DES-CBC-CBC" />
						<xs:enumeration value="PACE-DH-GM-AES-CBC-CMAC-128" />
						<xs:enumeration value="PACE-DH-GM-AES-CBC-CMAC-192" />
						<xs:enumeration value="PACE-DH-GM-AES-CBC-CMAC-256" />
						<xs:enumeration value="PACE-ECDH-GM-3DES-CBC-CBC" />
						<xs:enumeration value="PACE-ECDH-GM-AES-CBC-CMAC-128" />
						<xs:enumeration value="PACE-ECDH-GM-AES-CBC-CMAC-192" />
						<xs:enumeration value="PACE-ECDH-GM-AES-CBC-CMAC-256" />
					</xs:restriction>
				</xs:simpleType>
          	</xs:element>
			<xs:element name="TA" minOccurs="0" maxOccurs="11">
            	<xs:simpleType>
			    	<xs:restriction base="xs:string">
			    		<xs:enumeration value="TA-RSA-v1-5-SHA-1" />
			    		<xs:enumeration value="TA-RSA-v1-5-SHA-256" />
			    		<xs:enumeration value="TA-RSA-v1-5-SHA-512" />
			    		<xs:enumeration value="TA-RSA-PSS-SHA-1" />
			    		<xs:enumeration value="TA-RSA-PSS-SHA-256" />
			    		<xs:enumeration value="TA-RSA-PSS-SHA-512" />
			    		<xs:enumeration value="TA-ECDSA-SHA-1" />
			    		<xs:enumeration value="TA-ECDSA-SHA-224" />
			    		<xs:enumeration value="TA-ECDSA-SHA-256" />
			    		<xs:enumeration value="TA-ECDSA-SHA-384" />
			    		<xs:enumeration value="TA-ECDSA-SHA-512" />
			    	</xs:restriction>
	    		</xs:simpleType>
	    	</xs:element>
            <xs:element name="CA" minOccurs="0" maxOccurs="8">
            	<xs:simpleType>
			    	<xs:restriction base="xs:string">
			    		<xs:enumeration value="CA-DH-3DES-CBC-CBC" />
			    		<xs:enumeration value="CA-DH-AES-CBC-CMAC-128" />
			    		<xs:enumeration value="CA-DH-AES-CBC-CMAC-192" />
			    		<xs:enumeration value="CA-DH-AES-CBC-CMAC-256" />
			    		<xs:enumeration value="CA-ECDH-3DES-CBC-CBC" />
			    		<xs:enumeration value="CA-ECDH-AES-CBC-CMAC-128" />
			    		<xs:enumeration value="CA-ECDH-AES-CBC-CMAC-192" />
			    		<xs:enumeration value="CA-ECDH-AES-CBC-CMAC-256" />
			    	</xs:restriction>
	    		</xs:simpleType>
        	</xs:element>
    	</xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="CardReaderInterfaceType">
  		<xs:attribute name="supported" type="xs:boolean" use="required" />
	</xs:complexType>
	
	<xs:complexType name="ClientTrustStoreCertificateType">
		<xs:attribute name="sequenceNumber" type="xs:unsignedInt" use="required" />
		<xs:attribute name="CAR" type="xs:string" use="required" />
		<xs:attribute name="CHR" type="xs:string" use="required" />						    		
	</xs:complexType>
	
	<xs:simpleType name="TLSCipherSuiteType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="TLS_ECDHE_ECDSA_WITH_AES_128_CBC_SHA" /> <!-- legacy support -->
			<xs:enumeration value="TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA" /> <!-- legacy support -->
			<xs:enumeration value="TLS_ECDHE_ECDSA_WITH_AES_128_CBC_SHA256" /> <!-- default -->
			<xs:enumeration value="TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256" /> <!-- default -->
			<xs:enumeration value="TLS_ECDHE_ECDSA_WITH_AES_256_CBC_SHA" /> <!-- legacy support -->
			<xs:enumeration value="TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA" /> <!-- legacy support -->
			<xs:enumeration value="TLS_ECDHE_ECDSA_WITH_AES_256_CBC_SHA384" />
			<xs:enumeration value="TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384" />
			
			<xs:enumeration value="TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA" /> <!-- legacy support -->
			<xs:enumeration value="TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA" /> <!-- legacy support -->
			<xs:enumeration value="TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA256" /> <!-- default -->
			<xs:enumeration value="TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256" /> <!-- default -->
			<xs:enumeration value="TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA" /> <!-- legacy support -->
			<xs:enumeration value="TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA" /> <!-- legacy support -->
			<xs:enumeration value="TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA384" />
			<xs:enumeration value="TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384" />
			
			<xs:enumeration value="TLS_DHE_DSS_WITH_AES_128_CBC_SHA" /> <!-- legacy support -->
			<xs:enumeration value="TLS_DHE_DSS_WITH_AES_128_GCM_SHA" /> <!-- legacy support -->
			<xs:enumeration value="TLS_DHE_DSS_WITH_AES_128_CBC_SHA256" />
			<xs:enumeration value="TLS_DHE_DSS_WITH_AES_128_GCM_SHA256" />
			<xs:enumeration value="TLS_DHE_DSS_WITH_AES_256_CBC_SHA" /> <!-- legacy support -->
			<xs:enumeration value="TLS_DHE_DSS_WITH_AES_256_GCM_SHA" /> <!-- legacy support -->
			<xs:enumeration value="TLS_DHE_DSS_WITH_AES_256_CBC_SHA256" />
			<xs:enumeration value="TLS_DHE_DSS_WITH_AES_256_GCM_SHA384" />
			
			<xs:enumeration value="TLS_DHE_RSA_WITH_AES_128_CBC_SHA" /> <!-- legacy support -->
			<xs:enumeration value="TLS_DHE_RSA_WITH_AES_128_GCM_SHA" /> <!-- legacy support -->
			<xs:enumeration value="TLS_DHE_RSA_WITH_AES_128_CBC_SHA256" />
			<xs:enumeration value="TLS_DHE_RSA_WITH_AES_128_GCM_SHA256" />
			<xs:enumeration value="TLS_DHE_RSA_WITH_AES_256_CBC_SHA" /> <!-- legacy support -->
			<xs:enumeration value="TLS_DHE_RSA_WITH_AES_256_GCM_SHA" /> <!-- legacy support -->
			<xs:enumeration value="TLS_DHE_RSA_WITH_AES_256_CBC_SHA256" />
			<xs:enumeration value="TLS_DHE_RSA_WITH_AES_256_GCM_SHA384" />
			
			<xs:enumeration value="TLS_ECDH_ECDSA_WITH_AES_128_CBC_SHA" /> <!-- legacy support -->
			<xs:enumeration value="TLS_ECDH_ECDSA_WITH_AES_128_GCM_SHA" /> <!-- legacy support -->
			<xs:enumeration value="TLS_ECDH_ECDSA_WITH_AES_128_CBC_SHA256" />
			<xs:enumeration value="TLS_ECDH_ECDSA_WITH_AES_128_GCM_SHA256" />
			<xs:enumeration value="TLS_ECDH_ECDSA_WITH_AES_256_CBC_SHA" /> <!-- legacy support -->
			<xs:enumeration value="TLS_ECDH_ECDSA_WITH_AES_256_GCM_SHA" /> <!-- legacy support -->
			<xs:enumeration value="TLS_ECDH_ECDSA_WITH_AES_256_CBC_SHA384" />
			<xs:enumeration value="TLS_ECDH_ECDSA_WITH_AES_256_GCM_SHA384" />
			
			<xs:enumeration value="TLS_ECDH_RSA_WITH_AES_128_CBC_SHA" /> <!-- legacy support -->
			<xs:enumeration value="TLS_ECDH_RSA_WITH_AES_128_GCM_SHA" /> <!-- legacy support -->
			<xs:enumeration value="TLS_ECDH_RSA_WITH_AES_128_CBC_SHA256" />
			<xs:enumeration value="TLS_ECDH_RSA_WITH_AES_128_GCM_SHA256" />
			<xs:enumeration value="TLS_ECDH_RSA_WITH_AES_256_CBC_SHA" /> <!-- legacy support -->
			<xs:enumeration value="TLS_ECDH_RSA_WITH_AES_256_GCM_SHA" /> <!-- legacy support -->
			<xs:enumeration value="TLS_ECDH_RSA_WITH_AES_256_CBC_SHA384" />
			<xs:enumeration value="TLS_ECDH_RSA_WITH_AES_256_GCM_SHA384" />
			
			<xs:enumeration value="TLS_DH_DSS_WITH_AES_128_CBC_SHA" /> <!-- legacy support -->
			<xs:enumeration value="TLS_DH_DSS_WITH_AES_128_GCM_SHA" /> <!-- legacy support -->
			<xs:enumeration value="TLS_DH_DSS_WITH_AES_128_CBC_SHA256" />
			<xs:enumeration value="TLS_DH_DSS_WITH_AES_128_GCM_SHA256" />
			<xs:enumeration value="TLS_DH_DSS_WITH_AES_256_CBC_SHA" /> <!-- legacy support -->
			<xs:enumeration value="TLS_DH_DSS_WITH_AES_256_GCM_SHA" /> <!-- legacy support -->
			<xs:enumeration value="TLS_DH_DSS_WITH_AES_256_CBC_SHA256" />
			<xs:enumeration value="TLS_DH_DSS_WITH_AES_256_GCM_SHA384" />
			
			<xs:enumeration value="TLS_DH_RSA_WITH_AES_128_CBC_SHA" /> <!-- legacy support -->
			<xs:enumeration value="TLS_DH_RSA_WITH_AES_128_GCM_SHA" /> <!-- legacy support -->
			<xs:enumeration value="TLS_DH_RSA_WITH_AES_128_CBC_SHA256" />
			<xs:enumeration value="TLS_DH_RSA_WITH_AES_128_GCM_SHA256" />
			<xs:enumeration value="TLS_DH_RSA_WITH_AES_256_CBC_SHA" /> <!-- legacy support -->
			<xs:enumeration value="TLS_DH_RSA_WITH_AES_256_GCM_SHA" /> <!-- legacy support -->
			<xs:enumeration value="TLS_DH_RSA_WITH_AES_256_CBC_SHA256" />
			<xs:enumeration value="TLS_DH_RSA_WITH_AES_256_GCM_SHA384" />
			
			<xs:enumeration value="TLS_RSA_PSK_WITH_AES_128_CBC_SHA" /> <!-- legacy support -->
			<xs:enumeration value="TLS_RSA_PSK_WITH_AES_128_GCM_SHA" /> <!-- legacy support -->
			<xs:enumeration value="TLS_RSA_PSK_WITH_AES_128_CBC_SHA256" />
			<xs:enumeration value="TLS_RSA_PSK_WITH_AES_128_GCM_SHA256" />
			<xs:enumeration value="TLS_RSA_PSK_WITH_AES_256_CBC_SHA" /> <!-- legacy support -->
			<xs:enumeration value="TLS_RSA_PSK_WITH_AES_256_GCM_SHA" /> <!-- legacy support -->
			<xs:enumeration value="TLS_RSA_PSK_WITH_AES_256_CBC_SHA384" />
			<xs:enumeration value="TLS_RSA_PSK_WITH_AES_256_GCM_SHA384" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="TLSSupportedCurveType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="secp224r1" />
			<xs:enumeration value="secp256r1" />
			<xs:enumeration value="secp384r1" />
			<xs:enumeration value="secp521r1" />
			
			<xs:enumeration value="brainpoolP256r1" />
			<xs:enumeration value="brainpoolP384r1" />
			<xs:enumeration value="brainpoolP512r1" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="TLSKeyLengthType">
   		<xs:restriction base="xs:unsignedInt">
    		<xs:enumeration value="2048" />
    		<xs:enumeration value="3072" />
    		<xs:enumeration value="4096" />
   		</xs:restriction>
   	</xs:simpleType>
   	
   	<xs:simpleType name="TLSSupportedSignatureAlgorithmType">
   		<xs:restriction base="xs:string">
   			<xs:enumeration value="MD5withRSA" /> <!-- legacy support -->
   			<xs:enumeration value="MD5withDSA" /> <!-- legacy support -->
   			<xs:enumeration value="MD5withECDSA" /> <!-- legacy support -->
   			
   			<xs:enumeration value="SHA1withRSA" /> <!-- legacy support -->
   			<xs:enumeration value="SHA1withDSA" /> <!-- legacy support -->
   			<xs:enumeration value="SHA1withECDSA" /> <!-- legacy support -->
   			
   			<xs:enumeration value="SHA224withRSA" />
   			<xs:enumeration value="SHA224withDSA" />
   			<xs:enumeration value="SHA224withECDSA" />
   			
   			<xs:enumeration value="SHA256withRSA" />
   			<xs:enumeration value="SHA256withDSA" />
   			<xs:enumeration value="SHA256withECDSA" />
   			
   			<xs:enumeration value="SHA384withRSA" />
   			<xs:enumeration value="SHA384withDSA" />
   			<xs:enumeration value="SHA384withECDSA" />
   			   			
   			<xs:enumeration value="SHA512withRSA" />
   			<xs:enumeration value="SHA512withDSA" />
   			<xs:enumeration value="SHA512withECDSA" />
   		</xs:restriction>
   	</xs:simpleType>
	
	<xs:simpleType name="TLSVersionType">
   		<xs:restriction base="xs:string">
    		<xs:enumeration value="tls10" /> <!-- legacy support -->
    		<xs:enumeration value="tls11" />
    		<xs:enumeration value="tls12" />
   		</xs:restriction>
   	</xs:simpleType>
</xs:schema>